.registerInput {
  width: 18em;
  margin: 1em auto;
}

h1 {
  margin-bottom: 1em;
}

h1 {
  margin-bottom: 1em;
}

form {
  margin: 7em auto;
}

.formBody {
  width: 60em;
  margin: 0 auto;
  justify-content: center;
}
