.graphInterpreter {
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 30px;

  .buttonWrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}

.graphSummary {
  display: flex;
  gap: 15px;
  .summary {
    min-width: 200px;
  }
  .table {
    min-width: 400px;
    max-width: 400px;
    overflow: scroll;
  }
  .chart {
    min-width: 500px;
    align-self: center;
  }
}

.GraphInterpreter {
  display: grid;
  grid-template-columns: minmax(350px, 0.6fr) 1fr;
  gap: 40px;
  .label-textarea-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h5 {
      color: #333333;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .chart {
    align-self: center;
  }
}

.graphEvaluator {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .resultWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .chart {
      max-width: 550px;
    }
    gap: 30px;
  }
}
