h4{
    font-weight:bold;
}

.col-6{
    text-align: center;
    display: inline;
    margin:1em ;
    height:10em;
}

img{
    margin:1em auto;
    display: inline;
    text-align: center;
}

.image1{
    margin:1em auto;
}

.lead{
    font-size:0.9em;
    line-height:3em;
}

.lead>li{
    font-size:1.2em;
    line-height: 2.5em;
}

.box > ul > li{
    font-size:1em;
    line-height: 1.4em;;
}

.what4{
    text-align:center;
}

.what2{
    width:70%;

}