.sidebar {
  min-width: 200px;
  min-height: 500px;
  max-height: 700px;
  background-color: #4472c4;
  padding: 20px 20px;
  border-radius: 10px;
  .subtitle {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 30px;
    li {
      cursor: pointer;
      color: #ffffff7f;
      font-size: 16px;
    }
    li.active {
      font-weight: 900;
      color: #fff;
    }
  }
}
