body {
  padding-top: 8em;
}

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500&display=swap');
#logo{
  font-family: 'Jua', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3.5em;
}
