#con1{
    height:16em;
    background-color: aliceblue;
    text-align: center;
    padding:5em 0;
    margin-bottom:3em;
}

.fw-normal{
    font-size:2em;
    color:rgb(60, 60, 60);
    text-decoration: none;
}

a {
    text-decoration-line: none;
  }
