.myData-container {
    display: flex;

    .myData-left {
        /*folder*/
        .myData-folder {
            //overflow-y: scroll;
            border-radius: 0.625rem;
            border: 1px solid #d1d1d1;
            box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.125);
            //width: 20%;
            //height: 20rem;
            padding: 1rem 0.5rem;
        }

        /*데이터 요약 정보*/
        .myData-summary {
            margin-top: 1rem;
            //overflow-y: scroll;
            border-radius: 0.625rem;
            border: 1px solid #d1d1d1;
            box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.125);
            //width: 20%;
            //height: 20rem;
            padding: 1rem 0.5rem;
            span {
                font-weight: 600;
                background: #F3B634;
                padding: 0.3rem;
                border-radius: 0.3125rem;
            }
            /*table*/
            .summary-table {
                //font-size: 0.8em;
                margin-top: 0.5rem;
                width: 100%;
                border-collapse: collapse;
                border: 1px solid #ddd;
                th, td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: center;
                }
                th {
                    background-color: #fdeecf;
                }
                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }
                tr:hover {
                    background-color: #ccc;
                    cursor: pointer;
                }   
            }
        }
    }


    .myData-right {
        flex: 1;
        overflow-y: scroll;
        margin-left: 2rem;
        .excel-download {
            border: none;
            border-radius: 0.3125rem;
            width: 10rem;
            background: #F3B634;
            font-weight: 600;
        }
        .myData-detail {
            //font-size: 0.8em;
            margin-top: 0.5rem;
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }
            th {
                background-color: #fdeecf;
            }
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            tr:hover {
                background-color: #ccc;
                cursor: pointer;
            }  
            input[type='checkbox'] {
                accent-color: #F3B634;
            }
        }
        
    }
}



