#con1{
    height:16em;
    background-color: aliceblue;
    text-align: center;
    padding:5em 0;
    margin-bottom:3em;
}

ul{
    line-height:1.3em;
   
}

li{
    font-size: 0.75em;
    color:black;
    font-weight: 400;
}

#te{
    line-height: 1.8em;;
}

h5{
    color:black;
}