.e-class-mydata {
    .myData-summary {
        margin-top: 1rem;
        padding: 1rem 0.5rem;
        
        /*table*/
        .summary-table {
            //margin-left: 1rem;
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }
            th {
                background-color: #fdeecf;
            }
            tr:hover {
                background-color: #ececec;
                cursor: pointer;
            }   
        }
    }
}