.view-survey-list {
    .survey-list {
        margin: 2rem 0 1rem 0;
        width: 100%;
        border-collapse: collapse;
        
        th {
            background-color: rgb(94, 44, 237);
            text-align: center;
        }
    
        td {
            border-bottom: 1px solid #ddd;
            text-align: center;
            padding: 8px;
        
            &:last-child {
                cursor: pointer;
            }
        }
    
        tr:nth-child(even) {background-color: #F4F0FF;}
    
        tr:hover {background-color: #e3e3e3;}
    
        th, td {
            padding: 12px 20px;
        }
    
        th {
            height: 50px;
            color: #fff;
        }
    
        td {
            color: #666;
        }
    }

    .plus-btn {
        border: none;
        background-color: rgb(94, 44, 237);
        color: #F4F0FF;
        font-weight: bold;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        font-size: 1.5em;
        display: flex;      
        align-items: center;   
        justify-content: center; 
        transition: transform 0.3s; 
        transform: rotate(0deg); 

        &:hover {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
  