.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33.375rem;
    height: 20rem;
    box-shadow: 6px 10px 11px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
    background: #fff;
    z-index: 10;
}

.close-btn {
    display: flex;
    padding: 2rem;
    justify-content: end;
    cursor: pointer;
}

.modal-container input {
    text-align: center;
}

.modal-container input::placeholder {
    text-align: center;
}

.modal-container .add-btn-modal {
    width: 10rem;
    background: #4886FF;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 1.25rem;
}