@import url('https://fonts.googleapis.com/css2?family=Asap&family=Montserrat&display=swap');

.sample {
    .title {
        display: flex;
        align-items: center;
        margin-top: 5.25%;
        padding-left: 16.8%;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 0.013rem;
    }
    .notification_container {
        //margin-top: 3.92%;
        width: 70%;
        border-radius: 2.25rem;
        //background-color: pink;
        background-color: transparent;
        .notification_element:first-child {
            border-top-left-radius: 1.875rem;
            border-top-right-radius: 1.875rem;
        }
        .notification_element {
            display: flex;
            align-items: center;
            padding: 1.73% 2.43%;
            background: #F7F6F6;
            .bell_container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.875rem;
                height: 2.688rem;
                background: #FFFFFF;
                border-radius: 0.875rem;
                img {
                    width: 1.25rem;
                    height: 1.5rem;
                }
            }
            span {
                font-family: 'Asap';
                font-weight: 700;
                font-size: 1.25rem;
                margin-left: 4%;
                width: 80%;
            }
            .showBtn {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.9rem;
                font-weight: 600;
                width: 4.188rem;
                height: 1.75rem;
                background: #dadada;
                border-radius: 2.469rem;
                border: none;
                margin-right: 0.75rem;
            }
            .removeBtn {
                font-weight: 600;
                font-size: 0.75rem;
                width: 4.188rem;
                height: 1.75rem;
                background: #AEC0F0;
                border-radius: 2.469rem;
                border: none;
                color: #FFFFFF;
            }
        }
        .isClickedDiv {
            display: flex;
            font-weight: 500;
            font-size: 1.25rem;
            padding: 1.73% 2.43%;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
    
}

.notification_list.opened {
    border-radius: 1.875rem;
    background-color: #dadada;
}