.id{
  
   width:60em;
}



.password{
    
    width:60em;
}

h1{
    margin-bottom:0.5em;
}

form{
    margin:9em auto; 
   

}




.loginInput{
    width:18em;
}

.find{
    height:2.5em;
    padding-left:1.7em;
    padding-top:0.5em;
}

.find > a{
    margin-right:1.5em;
    font-size:0.85em;
    color:black;
}

button{
    margin-top:0.8em;
    width:18em;
}

fieldset{
    justify-content: center;
    
}
