.id-find{
    margin-top:0em;
}

.password-find{
    margin-top:0em;
}

fieldset{
    margin:0 auto;
    justify-content: center;
       
}

#root{
    margin-top: -2em;
}

form{
    margin:6em auto;
}

