.draw-graph {
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 30px;

  .buttonWrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}

.myData-list {
  min-width: 300px;
  width: 100%;
  // height: ;
  max-height: 500px;
  border-collapse: collapse;
  th {
    background-color: #348af3;
  }
  th,
  td {
    border: 1px solid #000;
    padding: 0.3125rem;
    text-align: center;
  }
  tbody tr:hover {
    cursor: pointer;
    background-color: #bae9ff;
  }
  tbody tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
  }
  tbody tr:nth-child(even):hover {
    background-color: #bae9ff;
  }
  .checkBox {
    display: inline-block;
    margin-left: 10px;
  }
}

.graph-selection {
  .buttons {
    display: flex;
    justify-content: flex-end;
    button {
      font-size: 14px;
      width: fit-content;
    }
  }
  .data-list {
    // display: grid;
    // gap: 40px;
    // grid-template-columns: repeat(2, 1fr);
    .graph {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  .data-list.grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.graph-selection-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  .block {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    .header {
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .graphs {
      width: 450px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .graph {
        img {
          width: 80px;
          height: 80px;
        }
        .checkboxGraph {
          display: flex;
          gap: 5px;
        }
      }
      margin-bottom: 30px;
    }
    button {
      font-size: 16px;
      width: fit-content;
      align-self: center;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  background: rgba(0, 0, 0, 0.6);
}

.variables-checkBox {
  display: flex;
  gap: 20px;
  .variables {
    display: flex;
    gap: 20px;
    .variable {
      display: flex;
      gap: 5px;

      cursor: pointer;
    }
    .disabled {
      text-decoration: line-through;
    }
  }
}

.chartAxisScaleEditor {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
}

.axisScaleEditor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .scale-input-group {
    display: flex;
    align-items: center;
    gap: 20px;
    label {
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        width: 100px;
        font-size: 16px;
      }
    }
  }
}
