.create-survey, .view-survey-content {
    .question-container {
        background-color: #F4F0FF;
        padding: 1rem;
        margin-bottom: 1.5rem;
        border-radius: 0.625rem;
        //box-shadow: rgba(149, 157, 165, 0.2) 3px 3px 24px;

        &:focus-within {
            transition: 0.05s;
            border-left: 7px solid rgb(94, 44, 237);
        }


        span {
            font-weight: bold;
        }

        input[type='text'] {
            margin-top: 0.5rem;
            border-radius: 0.3125rem;
            border: 1px solid #b2b2b2;
            outline: none;
            padding: 0.5rem;
        }
    }

    .plus-btn {
        border: none;
        background-color: rgb(94, 44, 237);
        color: #F4F0FF;
        font-weight: bold;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        font-size: 1.5em;
        display: flex;      
        align-items: center;   
        justify-content: center; 
        transition: transform 0.3s; 
        transform: rotate(0deg); 

        &:hover {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .submit-btn {
        border: none;
        background-color: rgb(94, 44, 237);
        color: #F4F0FF;
        font-weight: bold;
        width: 5rem;
        height: 2rem;
        border-radius: 0.625rem;
    }
}